@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Nav section starts */
.nav a img{
    height: 70px;
    width: 100px;
    padding-top: 10px;
}

.nav {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
  padding-bottom: 10px;
}
.nav-links{
    display: flex;
    padding-top: 10px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
}
.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator{
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
.nav-sublinks{
    margin-top: 20px;
    position: absolute;
    transform: translateY(-250px);
    transition: all 0.4s ease-in-out;
    z-index: 9;
}
.nav-sublinks li a{
    color: #000;
}
.nav-sublinks li{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background: #d1a521;
    border-bottom: 2px dotted;
}
.nav-sublinks li:hover{
    background-color: #fff;
}
.nav-ser:hover .nav-sublinks{
    transform: translateY(0px);
    transition: all 0.4s ease-in-out;
    z-index: 9;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }  

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}

/* Nav section ends */


/* Testimonials section starts */

/* ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
} */

 .testimonial {
  padding: 100px 0;
}
 .testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
 .testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}
 .testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #71b85f;
  border-radius: 50%;
}
 .testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #71b85f;
  border-radius: 50%;
}
 .testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}
 .testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}
 .testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}
 .testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}
 .testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}
 .testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}
 .testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}
 .testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}
 .testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}
 .testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}
 .testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}
 .testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}
 .testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}
 .testimonial .row .tabs li figure {
  position: relative;
}
 .testimonial .row .tabs li figure img {
  display: block;
}
 .testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #dff9d9;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
 .testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
 .testimonial .row .tabs.carousel-indicators-testimonials li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
 .testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}
 .testimonial .row .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}
 .testimonial .row .carousel .carousel-indicators-testimonials {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}
 .testimonial .row .carousel .carousel-indicators-testimonials li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}
 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}
 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
   .testimonial .row .tabs {
    margin-right: 25px;
  }
}

/* Testimonials section ends */


/* Brands section starts */


  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1100px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  .slide img{
    height: 100px;
    width: 250px;
  }

/* Brands section ends */

/* Contact us section starts */

.contact_us{
  background: url("../Img/maps.jpg") no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  min-height: 300px;
  color: #FFF;
  font-family: sans-serif;
  
}
.contact_us .content{
  background-color: rgba(2,2,2,.9);
  padding: 30px;
}
.contact_us .content h4{
  margin-bottom: 30px;
}
.contact_us .content .form-control {
  background-color: rgba(82,78,78,.07);
  color: #FFF;
  border: none;
  
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.contact_us .content .form-control.active{
-webkit-transform: scale(1.1, 1.1);
-moztransform: scale(1.1, 1.1);
-o-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}
.contact_us .content textarea{
  height: 108px;
  outline:none;
}
.contact_us .content .btn-danger {
  padding-bottom: 10px;
  padding-top: 10px;
}
.contact-us-form{
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

/* Contact us section ends */

/* Banner section starts */
.banner-ac img{
  width: 100%;
  height: 90vh;
}
/* Banner section ends */

/* Book appointment sec starts */
.appointment-sec{
  text-align: center;
  padding: 40px 0;
}
.appointment-sec button{
  width: 16rem;
  margin: 15px 10px;
}
.appointment-sec button a{
  color: white;
  text-decoration: none;
}
.appointment-sec button a:hover{
  color: rgb(252,62,2);
}
/* Book appointment sec ends */

/* Ac barnds section starts */
.ac-brands img{
  width: 180px;
  height: 150px;
  margin: 0 20px;
  
}

/* Ac brands section ends */

/* Contact btn section  starts */
.contact-btn-form{
  flex-direction: column;
}
.contact-form-btn{
  display: flex;
  align-items: center;
}
.btn-group input{
  width: 400px;
}
.btn-group textarea{
  width: 400px;
}
.contact-img img{
  filter: grayscale(0.6);
}
.contactus-btn{
  position: fixed;
  transform: translateY(-1000px);
  transition: all 0.8s;
  z-index: 9;
  width: 100%;
}
.cotactform-show{
  transform: translateY(0px);
  transition: all 0.8s;
  z-index: 9;
}
/* Contact btn section  sends */


